src/main/resources/AuthHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.oracle.com"
           xmlns:orac="http://www.oracle.com">

  <xs:element name="authenticationheader" type="orac:AuthenticationHeaderType"/>
  <xs:complexType name="AuthenticationHeaderType">
    <xs:sequence>
      <xs:element name="username" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
